# This is Git's per-user configuration file.
[user]
	name = Harry Gao
	email = beatbox_gao@hotmail.com
	signingkey = 030C7241EE01EBB1
[push]
	default = current
[help]
	autocorrect = prompt
[diff]
	algorithm = histogram
[includeif "gitdir:~/.dotfiles/"]
path = "~/.dotfiles/.gitconfig"
[commit]
	gpgsign = true
